@use "../../utils/styles-forwarded" as *;
.filter-machine-details-list{
    transition: all .3s;
    &.open-list{
        transform: rotate(180deg);
    }
}
.machineTypes-delail{
    display: grid;
    grid-template-rows: 0fr;
    transition: all .3s;
    > div {
        overflow: hidden;
    }

    &.show-list{
        grid-template-rows: 1fr;
    }
}

.error-status-filter{
    .element-chart{
        width: 100%;
        max-width: 400px;
        img{
            margin-top: 50px;
        }
    }
    p{
        font-weight: 500;
        line-height: 22px;
        @include responsive-font(18, 24)
    }
}