$maxWidth: 1280;

@mixin responsive-font( $min-font, $max-font) {
  $intermediateSize: $max-font - $min-font;
  font-size: calc(#{$min-font + px} + #{$intermediateSize} * ((100vw - 320px) / #{$maxWidth}));
}